* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}

h1{
  
  font-size: 4rem;
  margin: 1rem 0;
}

h2, h3, h4{
  font-family: 'Montserrat Alternates', sans-serif;
}



/* Nav */
.logo{
  width: 8rem;
  height: auto;
  margin: 0 2rem;
  padding: .2rem 1rem;
  gap: 1rem;
  border: none;
  box-shadow: none;
}


#nav-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
  border-bottom: 2px solid rgb(200, 198, 198);
  margin: 0 1%;
 
  
}

#nav-banner{
  display: flex;
 justify-content: center;
  align-items: center;
  background-color:#d5c3a3;
  padding: .2rem;
}



.nav-link{
font-size: 1.6rem;
margin: .7rem 1.5rem;
gap: 1rem;
padding: .3rem;
text-decoration: none;
color: #6885bf;
}

/* Home Page */
#Home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Register page */

/* login page */
.login-container, .register-container{
  position: absolute;
  margin: auto;
  width: 40rem;
  height: 30rem;
  top:10rem;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgb(215,129,106);
  background: linear-gradient(100deg, rgba(215,129,106,1) 0%, rgba(134,22,87,1) 100%);
  border-radius: 10px;
  border: 2px solid rgb(147, 147, 147);
}

.form-items{
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem 1rem;
}

.input-wrapper{
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
}

.input{
  margin: 0 .7rem;
  padding: .1rem .5rem;
  border-radius: 5px;

  font-size: 1.3rem;
}

.form-button{
  color: white;
  background-color: #3F3F3F;
  border-radius: 5px;

  margin: 0 10rem;
  margin-top: 8rem;
  padding: .5rem 1rem;
  border: 2px solid rgb(116, 115, 115);

  font-size: 1.5rem;
}